body {
    background-color: #000;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    height: 100vh;  /* Altura total de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: background-image 1.2s ease-in-out, opacity 1.2s ease-in-out;
    opacity: 1;
}

.container {
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Se adapta mejor en pantallas grandes */
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 100%;
    max-width: 450px; /* Evita que el input se haga demasiado grande */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    max-width: 450px; /* Evita que el botón se haga demasiado grande */
    padding: 10px;
    background-color: rgb(200, 153, 45);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgb(62, 61, 63);
}

p {
    color: red;
    text-align: center;
}

/* Arreglar la clase para cerrar sesión */
.ya {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 20px;
    display: block;
    text-align: center;
}

/* Responsividad */
@media (max-width: 576px) {
    .container {
        padding: 20px;
        max-width: 100%;
        margin: 10px;
    }
    h1 {
        font-size: 24px;
    }
    input[type="submit"], input[type="text"] {
        font-size: 14px;
        padding: 12px;
    }
}
