body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, rgb(200, 153, 45), rgb(62, 61, 63), rgb(0, 0, 0));
    animation: gradientAnimation 10s ease infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: -200% 50%;
    }
}

.form-container {
    background-color: rgb(145, 197, 250);
    padding: 40px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 9px 9px 50px black;
    background-image: linear-gradient(45deg, rgb(34, 34, 34), rgb(211, 192, 50));
    background-size: 200% auto;
    animation: formAnimation 5s ease-in-out infinite;
}

.form-container h1 {
    text-align: center;
    padding: 12px;
    color: rgb(206, 203, 203);
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 15px;
    border: none;
}

.form-container input:hover {
    background-color: rgb(50, 50, 50);
    transform: scale(1.05);
    transition: 0.3s ease;
}

.submit-button {
    background-color: #000000;
    color: #c0b76f;
    width: 100%;
    margin-top: 22px;
    border-radius: 35px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
    background-color: #c0b76f;
    color: #000000;
}

.submit-button img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.form-container a {
    margin-top: 20px;
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.form-container a:hover {
    color: #c0b76f;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 576px) {
    .form-container {
        padding: 20px;
        margin: 20px;
    }

    .form-container h1 {
        font-size: 24px;
    }

    .form-container input {
        font-size: 14px;
    }

    .submit-button {
        padding: 8px;
        font-size: 14px;
    }
}
